Repository brunolmarques/rust-microservice-example, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, gitops, ci, source, docs

.github/labeler.yml:

# Add 'repo' label to any root file change
repo:
  - '*'

# Add 'gitops' lable to any changes within .github dir
gitops:
  - .github/*

# Add 'ci' label to any change within .github/workflows dir
ci:
  - .github/workflows/*

# Add 'source' label to any change to src files within src/source dir EXCEPT for docs
source:
  - any: ['src/**', '!src/docs/*', '!src/*/*.md']

# Add 'docs' label to any .md file change
docs:
  - ./*.md
  - ./**/*.md

auth implemented
  Cargo.toml
  proto/authentication.proto
  src/auth-service/auth.rs
  src/auth-service/main.rs
  src/auth-service/sessions.rs
  src/auth-service/users.rs
  src/build.rs
  src/client/main.rs
  src/health-check-service/main.rs
  src/main.rs
Labels: repo, source

sessions implemented
  src/auth-service/sessions.rs
Labels: source

Health check implemented
  Cargo.toml
  build.rs
  src/auth-service/auth.rs
  src/auth-service/main.rs
  src/auth-service/users.rs
  src/build.rs
  src/client/main.rs
  src/health-check-service/main.rs
Labels: repo, source

Docker and CI implemented
  .dockerignore
  .github/workflows/rust-ci.yml
  Dockerfile-auth
  Dockerfile-health
  docker-compose.yaml
  src/client/main.rs
Labels: repo, ci, source

Formatting and linting
  build.rs
  src/auth-service/auth.rs
  src/auth-service/main.rs
  src/auth-service/sessions.rs
  src/auth-service/users.rs
  src/client/main.rs
  src/health-check-service/main.rs
Labels: repo, source

Formatting and linting
  build.rs
  src/auth-service/auth.rs
  src/health-check-service/main.rs
Labels: repo, source

Formatting and linting
  .github/PULL_REQUEST_TEMPLATE.md
Labels: gitops, docs

Formatting and linting
  src/health-check-service/main.rs
Labels: source

Formatting and linting
  src/client/main.rs
Labels: source

Formatting and linting
  .github/workflows/pr-labeler.yml
Labels: ci
